

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    justify-content: center;
}

header{
  
    padding: 1rem;
    margin: 1rem;
    display: block;
    font-family:'Inconsolata', monospace;
    font-weight: 700;
    font-size: 2rem;
}

main{
    margin-inline: 3rem;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    font-family: 'Space Mono', monospace;
    justify-content: center;
    align-items: center;
  
    gap: 2rem;
}

main h1{
    font-size: 4rem;
    width: 25rem;
    margin-bottom: 1rem;
}

main div{
    width: 35rem;
}

main p{
   text-align: left;
    width: 20rem;
}

main div img{
    aspect-ratio: 1;
   width: 35rem;
}

body div:not(main div){
 
    text-align: center;
}

.attribution{
    left: 25%;
    right: 25%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
}

.attribution a{
    color: red;
    text-decoration: none;
}

@media (max-width:45rem){
    header{
        font-size: 2rem;
    }

    main{
        flex-direction: column;
   
        justify-content: center;
    }
    main div img{
        width: 20rem;
        
    }
    main div{
        text-align: center;
        width: 20rem;
       margin-left: 1rem;
  
    }
    main h1{
        width: 18rem;
        font-size: 35px;
    }
    main p{
        margin-left: 1rem;
        width: 16rem;
    }
}